@media only screen and (max-width: 768px) {
    .container > :not(:first-child, :last-child), .news{
        min-height: 100vh;
        padding: 10px 20px;
    }

    .container{
        width: 100%;
    }
   #header{
    display: flex;
    flex-flow: column wrap;
    z-index: 10;
   }
   .header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 5px 0;
   }
   .header__menu{
    margin: 10px auto !important;
   }
   .logo__img{
    width: 50px;
    height: 50px;
   }
  }