.img1{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMjcvMTkvNTgvNDkvNTNmMDRjMmUtM2Q3Zi00MzZmLWJhOGQtY2JjODFkNzUxNDIyL2Rlci1yai01NjQtZmx1Z2hhZmVuLXdpZW4tMTExOTQwNi5qcGciXSxbInAiLCJlbmNvZGUiLCJqcGciLCItcXVhbGl0eSA4MCJdLFsicCIsInRodW1iIiwiNjIweDQxMyMiXV0?sha=cd84eae2ed4c92bc");
}

.img2{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMjcvMTYvMTUvMzYvZWFkZGJiOTEtNDQ4Ny00YzIwLWE0MGItN2I5ODA5Mzc4OTY2L9C60YPQu9C40L3QsNGA0YsuanBnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0MTMjIl1d?sha=c2d4b60590948474");
}
.img3{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMjQvMTcvNDkvMjkvODk5ODZmNmQtYmRjNC00OGM4LWEzMTgtYWZjYmM4MWQ1NmFjL3Nmc2RmLmpwZyJdLFsicCIsImVuY29kZSIsImpwZyIsIi1xdWFsaXR5IDgwIl0sWyJwIiwidGh1bWIiLCI2MjB4NDEzIyJdXQ?sha=4f90d256f40fae1a");
}
.img4{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMjQvMTIvMTUvMjYvNjI4NWRlY2ItMTk2NS00YTNhLWIyZGMtMTkyYTU3NGU1YWRhLzMxNjE4NDY1N181MzU5NDQyNzE3Mzc4MjBfMjk3MDkwNTM5ODUzNjcwMTIyN19uLmpwZyJdLFsicCIsImVuY29kZSIsImpwZyIsIi1xdWFsaXR5IDgwIl0sWyJwIiwidGh1bWIiLCI2MjB4NDEzIyJdXQ?sha=e1e96f7eef5c102a");
}
.img5{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMTgvMTAvMDcvNDUvYmU1MjQyOTMtYzE4My00MjhjLTk5YmEtN2I3MmYxZjUyNjJmLzMxNTkxODA2Nl8xMTc4NjA2OTc2MDgzMTg0XzgzODUxNTY3NDcwMzExNTg3NTRfbi5qcGciXSxbInAiLCJlbmNvZGUiLCJqcGciLCItcXVhbGl0eSA4MCJdLFsicCIsInRodW1iIiwiNjIweDQxMyMiXV0?sha=48c7d4b6d9ac0904");
}
.img6{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMTcvMTEvMzEvMDIvYTZhYzI5MDEtYmFkNy00OTQ0LTg1NzUtNDc3ZGQ3MDQxOGJjLzYzNzVlMWZiNzRhZTM2Mzc1ZTFmYjc0YWU0MTY2ODY2OTk0N2RlM2FiODM0Y2M5YTFiMDgzYzk3MzBjNzdhYzY2YTZiLmpwZyJdLFsicCIsImVuY29kZSIsImpwZyIsIi1xdWFsaXR5IDgwIl0sWyJwIiwidGh1bWIiLCI2MjB4NDEzIyJdXQ?sha=2495fece89b73f00");
}
.img7{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMTUvMjEvMDgvMTYvYjFlZWM0MjMtMDVkOC00ZDM0LWIyNTktMWJjYzE4NzM1Nzc1LzFfZnVxeTVBdXVfWk52TWptUFk3ajVqZy5qcGVnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0MTMjIl1d?sha=d97759e60ba3eb3f");
}
.img8{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMTEvMTcvNDcvNDkvNjg0ZTVjZjUtOGYwOS00MjNiLTk1YTgtMzFmMTE1NzM0NGUyL3BhZ2UuanBnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0MTMjIl1d?sha=b205c064e894eea9");
}
.img9{
    background-image: url("https://cdn.oxu.az/uploads/W1siZiIsIjIwMjIvMTEvMTYvMTEvMjEvNTgvNWMwZTMzZjYtZWNmMC00ZWIzLWI4MjktNGQ5ZTFkMDYxZDMwL2JkZWFhMWZmLWJjNGQtMzAxNS1hNzMwLTliMDRkZTBjZjE4MV84NTAuanBnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0MTMjIl1d?sha=ab9112cfcf6a3473");
}